.form{
    background-color:papayawhip;
    display: flex;
    height: 60px;

}

.form_title{
    font-size: 30px;
    padding-left: 20px;
    
}
.row1{
margin: 20px;
display: flex;
}
.field{
    width: 300px;
    height: 30px;
    border-radius: 5px;
}
.border{
    border-color: orange;
    border:solid;
    border-width: 1px;
    margin: 15px;
    width: 95%;

}
.label{
    padding-left: 30px;
    width: 120px;
    background-color: palegoldenrod;
}
.field1{
    width: 300px;
    height: 70px;
    border-radius: 5px;
     
}
.field2{
    width: 300px;
    height: 30px;
    margin: 15px;
    display: flex;
 
}
 .saudi_button{
     width: 150px;
     margin: 5px;
     height: 40px;
     background-color:orange;

 }
 .border1{
     padding-left: 75%;
 }
 .saudi_formsubmit{
     background-color:royalblue;
     width: 150px;
     height: 40px;
    margin-right: 70%;
    margin-bottom: 15px;

 }
 .drop{
     display: none;
 }